<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .top-space {margin-top:25px;}
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Dress yoself before you reck yoself!</a>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                  <input type="text" placeholder="Get Updates!" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-success">Sign up</button>
              </form>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <p>This started out as a challenge from my wife to create something funny in Java in 90 minutes for Zappos. I was preparing for Defcon and thought of this idea. I had heaps of fun with it, and will probably tinker on it from time to time. </p>
          </div>
        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-4"
>              <div class="panel panel-default">
                <div class="panel-body">
                  <form class="form" name="myForm">
                  <div class="form-group">
                    <label for="slotSelector" class="control-label">Choose a slot:</label>
                    <select class="form-control" id="slotSelect">
                      <option value="hats">Hats</option>
                      <option value="belts">Belts</option>
                      <option value="shirts">Shirts</option>
                      <option value="pants">Pants</option>
                      <option value="shoes">Shoes</option>
                      <option value="shoes">Gloves</option>
                    </select>
                  </div>
                  <button type="button" id="get" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Get Products</a>
                  </form>
                </div>
              </div>
              <div class="panel panel-default">
                  <div id="response" class="response"></div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="col-sm-2" style="">
                <div class="col-sm-12" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;">Hat</div>
                <div class="col-sm-12" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;margin-top:2px;">Shirt</div>
              </div>
              <div class="col-sm-7">
                <div class="col-sm-12 text-center" id="outputDiv" style="background-color:#eee;height:200px;">
                  <h3>Total Price $0.00</h3>
                  <button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-download"></span>&nbsp;Download Image</button>
                </div>
              </div>
              <div class="col-sm-2" style="">
                <div class="col-sm-12" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;margin-top:2px;">Pants</div>
                <div class="col-sm-12" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;margin-top:2px;">Shoes</div>
              </div>
              <div class="col-sm-12 top-space" style="">
                <div class="col-sm-2 col-sm-offset-3" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;margin-top:2px;">Hand 1</div>
                <div class="col-sm-2 col-sm-offset-1" style="background-color:#ccc;height:100px;text-align:center;padding:40px 10px;margin-top:2px;">Hand 2</div>
              </div>
            </div>

          </div>
          <div class="col-md-12"><hr/></div>
          <div class="row top-space">
            <div class="col-md-4">
              <div class="row text-center"><img src="img/backbone_logo.png" width="100"/></div>
              <h2>Backbone</h2>
              <p>I read something out about Backbone on the Zappos Insider Technology page, and immediately went to work figuring it out. Its quite an impressive library and the learning curve is nice and easy while giving lots of great functionality. I've been tweaking in Angular and Node for awhile now which might have made understanding it a bit easier. I also found the syntax of this library similar to Prototype, which I am very comfortable in. Something I will certainly continue to use, so lightweight and powerful [Value #8 <span class="glyphicon glyphicon-thumbs-up"></span>].</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <div class="row text-center"><img src="img/bootstrap_logo.png" width="100"/></div>
              <h2>Bootstrap</h2>
              <p>I've been using Bootstrap in all my recent projects, its just too nice not to! I grabbed this boilerplate from <a href="http://www.initializr.com/">http://www.initializr.com/</a> which comes out of the box with Bootstrap ready to go. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <div class="row text-center"><img src="img/ruby_logo.png" width="100"/></div>
              <h2>Ruby</h2>
              <p>Initially I wanted to write this in Python, but saw that you guys like Ruby so went back and refamiliarized myself with Ruby, and wrote the simple scraper for this project in that. I actually forgot how much I love writing Ruby and look forward to writing more. The syntax is very natural feeling and I love the anonymous Blocks ability.</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>

          <hr>

 <script type="text/template" id="sports-template">
      <ul>
        <% _.each(sports, function(sport){ %>
        <li>
          <%= sport.getDescription() %>
        </li>
        <% }); %>
      </ul>
    </script>

          <footer>
             <a href="https://www.twitter.com/kaydubbleu">@kaydubbleu</a> 2014</p>
          </footer>
        </div> <!-- /container --> 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.1.1.2.js"></script>    
        <script src="js/app.js"></script>
      </body>
      </html>
